import { memo } from 'react';

import * as S from './styles';

export type {{pascalCase name}}Props = {};

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => (
  <S.Container>
    <h1>{{pascalCase name}}</h1>
  </S.Container>
);

export default memo({{pascalCase name}});
